<header class="container-fluid no-pad" id="inicio">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-3">
                <img src="/images/logo.svg" class="img-fluid logo" alt="MC Batataria">
            </div>
            <div class="align-title col-md-12 offset-lg-3 col-lg-6">
                <h1 class="title">A melhor batata recheada do Guarujá</h1>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-principal" aria-controls="menu-principal" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="menu-principal">
          <div class="navbar-nav">
            <a class="nav-link" href="#inicio">Início</a>
            <a class="nav-link" href="#historia">Nossa história</a>
            <a class="nav-link" href="#localizacao">Onde Estamos</a>
            <a class="nav-link active" href="https://www.goomer.app/mc-batataria" target="_blank">Faça seu pedido</a>
            <span class="socials">
              <a href="https://www.facebook.com/mcbatataria/" target="_blank" class="social-icon"><i class="fab fa-facebook-f"></i></a>
              <a href="https://www.instagram.com/mcbatataria/" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
            </span>
          </div>
        </div>
      </nav>
</header>