.historia{
    @extend %margin-section;
    .title{
        font-family: $font_pacifico;
        color: $brown;
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }

    .background-fixed{
        width: 100%;
        height: 100%;
        background: $brown;
        border-top-right-radius: 399px;
        border-bottom-right-radius: 399px;
        overflow: hidden;
    }

    .history{
        width: 80%;
        height: 100%;
        font-family: $font_default;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
        &:after{
            content: '';
            position: absolute;
            background: url('../images/historia/background-logo.webp') no-repeat;
            background-size: 100%;
            width: 318px;
            height: 307px;
            opacity: 0.5;
            top: 300px;
            right: -250px;
        }
        @media (max-width: $bp991) {
            &:after{display: none;}
        }
        .content{
            text-align: justify;
        }
        .btn-area{
            @extend %btn-default;
            .btn-default{
                margin: 0 auto;
            }
        }
    }

    @media (max-width: $bp991) {
        .background-fixed{
            transform: translateX(-15px);
        }

        .history{
            width: 100%;
            padding: 30px;
            >p{
                text-align: justify;
            }
        }
    }
}