.localizacao{
    background: $brown;
    @extend %padding-section;
    .title{
        font-family: $font_pacifico;
        color: $skin;
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }

    .background-fixed{
        width: 100%;
        height: 100%;
        background: $brown;
        border-top-left-radius: 399px;
        border-bottom-left-radius: 399px;
        overflow: hidden;
    }

    .localization-info{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        margin-left: auto;
        color: $white;

        .address , .time{
            align-items: center;
            .circle{
                background: $orange;
                width: 70px;
                margin: auto;
                display: block;
                height: 70px;
                border-radius: 100%;
                transition: $transition_default;
                >i{
                    font-size: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    color: $white;
                }
            }
            .address-info, .time-info{
                transition: $transition_default;
            }

            &:hover{
                .circle{
                    transform: rotateY(180deg);
                }
                .address-info, .time-info{
                    transform: scale(1.05);
                }
            }
        }

        .btn-area{
            @extend %btn-default;
        }

    }

    @media (max-width: $bp991) {
        .background-fixed{
            transform: translateX(15px);
        }

        .localization-info{
            width: 100%;
            padding: 30px;
            >p{
                text-align: justify;
            }
            .circle{
                background: $orange;
                width: 50px;
                margin: auto;
                display: block;
                height: 50px;
                border-radius: 100%;
            }
        }
    }
}