<footer class="footer">
    <div class="container">
        <div class="row pb-2">
            <div class="col-lg-2">
                <div class="row">
                    <img src="/images/logo.svg" class="img-fluid logo" alt="MC Batataria">
                </div>
                <div class="row">
                    <span class="socials-footer">
                        <a href="https://www.facebook.com/mcbatataria/" target="_blank" class="social-icon">
                            <span class="icon-facebook"></span>
                        </a>
                        <a href="https://www.instagram.com/mcbatataria/" target="_blank" class="social-icon">
                            <span class="icon-instagram"></span>
                        </a>
                    </span>
                </div>
            </div>

            <div class="offset-lg-2 col-lg-3 nav-footer">
                <div class="row">
                    <div class="col-8">
                        <a href="#historia" class="link">
                            Nossa história
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="#localizacao" class="link">
                            Onde Estamos
                        </a>
                    </div>

                </div>
            </div>

            <div class="col-lg-5 go-top">
                <a href="#inicio" class="top">
                    voltar ao topo<span class="icon-chevron-up"></span>
                </a>
            </div>
        </div>
        <div class="row copyright">
            2020 © - Desenvolvido por
            &nbsp;
            <a href="https://wa.me/5513997201199" target="_blank" rel="nofollow">Victor Henrique</a>.
        </div>
    </div>
</footer>