<section class="banner">
    <div id="carouselImages" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselImages" data-slide-to="0" class="active"></li>
            <li data-target="#carouselImages" data-slide-to="1"></li>
            <li data-target="#carouselImages" data-slide-to="2"></li>
          </ol>
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="5000">
            <img src="/images/slide/slide1.jpg" class="d-block w-100" alt="Batatas recheadas feitas com muito amor e carinho">
            <div class="carousel-caption">
                <h2 class="title">
                  Batatas recheadas feitas com muito amor e carinho
                </h2>
            </div>
          </div>
          <div class="carousel-item" data-interval="5000">
            <img src="/images/slide/slide1.jpg" class="d-block w-100" alt="Batatas recheadas feitas com muito amor e carinho">
            <div class="carousel-caption">
                <h2 class="title">
                  Batatas recheadas feitas com muito amor e carinho
                </h2>
            </div>
          </div>
          <div class="carousel-item" data-interval="5000">
            <img src="/images/slide/slide1.jpg" class="d-block w-100" alt="Batatas recheadas feitas com muito amor e carinho">
            <div class="carousel-caption">
                <h2 class="title">
                  Batatas recheadas feitas com muito amor e carinho
                </h2>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" data-target="#carouselImages" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" data-target="#carouselImages" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
        </a>
      </div>
</section>