<section class="cta">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title">
                    Peça sua batata recheada agora mesmo!
                </div>
            </div>
            <div class="col-12">
                <div class="btn-area">
                    <a href="https://wa.me/5513974031072" target="_blank" class="btn-default">FAÇA SEU PEDIDO</a>
                </div>
            </div>
        </div>
    </div>
</section>