<section class="historia" id="historia">
    <h3 class="title">Nossa História</h3>
    <div class="row">
        <div class="col-lg-6 ">
            <div class="background-fixed">
                <div class="background-inner">
                    <img src="/images/historia/historia1.jpg" class="img-fluid" alt="Nossa História | MC Batataria">
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="history">
                <p>
                    A pouco mais de 4 anos atrás demos inicio ao nosso sonho, fomos caminhando com passos curtos e mesmo em meio a muitos contratempos e incertezas, continuamos focados e sempre unidos. Por um tempo adiamos o nosso sonho mas sempre na certeza que voltariamos ainda mais focados, e foi exatamente isso, muita coisa mudou, menos a equipe, permanece a mesma e agora com mais pessoas que vieram pra somar ❤
                    Deus esta sempre a frente de todas a decisões e sem ele não teriamos chegado até aqui, e ainda vamos muito longe se assim ele permitir 🙌
                    Agradecemos a cada um de vocês que fazem o nosso sonho sair do papel.
                </p>
            </div>
        </div>
    </div>
</section>