<section class="historia" id="historia">
    <h3 class="title">Nossa História</h3>
    <div class="row">
        <div class="col-lg-6 ">
            <div class="background-fixed">
                <div class="background-inner">
                    <img src="/images/historia/historia1.jpg" class="img-fluid" alt="Nossa História | MC Batataria">
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="history">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim laudantium quae optio aut facere minus rem, autem distinctio cumque necessitatibus similique temporibus ut aliquam tempora culpa nesciunt sequi suscipit officiis eos! Recusandae fugiat ad voluptate suscipit delectus vitae, impedit sit temporibus, quas illo ut sapiente reiciendis, et voluptas atque dolorum.
                </p>
                
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis amet dignissimos cum saepe aut. Unde repellendus error veniam fugit, explicabo nisi accusamus sed aspernatur fuga dolores consequatur nihil, sunt cumque! Quisquam, ab a. Aliquam, atque quas? Quas porro ducimus, in dolore rerum tempora distinctio est, eveniet expedita minima, maxime commodi.
                </p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam totam aperiam veniam veritatis blanditiis odio laborum praesentium cum laboriosam perferendis iste similique repudiandae qui porro minima, eligendi rerum culpa ad. Fugiat possimus eum repellendus ab sint sit autem voluptas dolorum. Itaque dignissimos impedit blanditiis similique! Eveniet sit porro adipisci consequatur.
                </p>
            </div>
        </div>
    </div>
</section>