<section class="localizacao" id="localizacao">
    <h4 class="title">Localização</h4>
    <div class="row">
        <div class="col-lg-6">
            <div class="localization-info">
                <div class="row address">
                    <div class="col-lg-2 col-3">
                        <span class="circle">
                            <i class="fas fa-map-marker-alt"></i>
                        </span>
                    </div>
                    <div class="col-lg-10 col-9">
                        <div class="address-info">
                            <p>
                                Av. Ademar de Barros, Nº 2319<br>
                                LOJA 39<br>
                                Vila Santa Rosa<br>
                                CEP 11431-030<br>
                                Guarujá - SP
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row time">
                    <div class="col-lg-2 col-3">
                        <span class="circle">
                            <i class="far fa-clock"></i>
                        </span>
                    </div>
                    <div class="col-lg-10 col-9">
                        <div class="time-info">
                            <p>
                                <table class="w-100">
                                    <tr>
                                        <td>domingo</td>
                                        <td>19h30 – 23h45</td>
                                    </tr>
                                    <tr>
                                        <td>segunda-feira</td>
                                        <td>19h30 – 23h45</td>
                                    </tr>
                                    <tr>
                                        <td>terça-feira</td>
                                        <td>19h30 – 23h45</td>
                                    </tr>
                                    <tr>
                                        <td>quarta-feira</td>
                                        <td>19h30 – 23h45</td>
                                    </tr>
                                    <tr>
                                        <td>quinta-feira</td>
                                        <td>19h30 – 23h45</td>
                                    </tr>
                                    <tr>
                                        <td>sexta-feira</td>
                                        <td>19h30 – 23h45</td>
                                    </tr>
                                    <tr>
                                        <td>sábado</td>
                                        <td>19h30 – 23h45</td>
                                    </tr>
                                </table>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="btn-area">
                    <a href="https://www.google.com/maps/place/MC+BATATARIA/@-23.991173,-46.2803168,17z/data=!4m5!3m4!1s0x0:0xae5b5a234ed3878b!8m2!3d-23.9914033!4d-46.2803704" target="_blank" class="btn-default">ver no mapa</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 ">
            <div class="background-fixed">
                <div class="background-inner">
                    <img src="/images/localizacao/localizacao1.jpg" class="img-fluid" alt="Nossa História | MC Batataria">
                </div>
            </div>
        </div>
    </div>
</section>